extends layout

block content
  p You can contact me through the following:
  ul
    li #[a(href='mailto:rowel0987@gmail.com') Email]
    li #[a(href='https://github.com/rowel098' target='_blank') Github]
    li #[a(href='https://linkedin.com/in/rowel-dela-fuente' target='_blank') LinkedIn]