extends layout

block content
  p I'm a backend web developer, currently knowledgeable in PHP, MySQL, JavaScript, Git, NodeJS, HTML5 and CSS3.

  div.mt-5
    h2 Code and Theory
    p I currently work at #[a(href='https://www.codeandtheory.com/' target='_blank' rel='noopener') Code and Theory] Manila as a Jr. Backend Web Developer

  div.mt-5
    h3 Past Works
    div.ml-3
      h4 Starfish Web Design
      p I'm the former lead backend web developer at #[a(href='https://starfi.sh' target='_blank' rel='noopener') Starfish Web Design]
      p Main job specifications are custom website development and maintenance (existing or new), API development, code inspection/debugging, quotations, requirement analyst, and rarely, hardware maintenance.