extends layout

block content
  p A showcase of projects that I've done as a web developer

  div.mt-5
    h2 Selak Security
    p  I'm the developer and maintainer for the #[a(href='https://selaksecurity.com') Selak Security] site on both the
      |  frontend and backend aspect (designs not included)

  div.mt-5
    h2 Autogo
    p A portal for car services around Metro Manila, Philippines created as a thesis study for my alumni. The system has two parts; a website built using native
      |  PHP and MYSQL for the backend, Bootstrap 3 for the frontend; an android app built using Java, communication is
      |  achieve via REST API.